<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="aspnet:MaxJsonDeserializerMembers" value="1500000" />
  <add key="SightingsStoredDays" value="7" />
</appSettings>

