<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="file" xsi:type="File"
            layout="${longdate} ${logger} ${message}" 
            fileName="${basedir}/App_Data/logs/logfile.txt" 
            archiveFileName="${basedir}/App_Data/logs/archives/log.{#####}.txt"
            archiveAboveSize="10240"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2" />
        <target name="trace" xsi:type="Trace" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="trace" />
      <logger name="*" minlevel="Info" writeTo="file" />
    </rules>
</nlog>