<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Artportalen" version="0.1.64.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="SafeMapper" version="1.1.89.0" targetFramework="net45" />
  <package id="SwedishCoordinates" version="0.1.6.0" targetFramework="net45" />
</packages>